.day-grid,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.date-grid div:first-child {
  grid-column: 1;
}

.second-day div:first-child {
  grid-column: 2;
}

.third-day div:first-child {
  grid-column: 3;
}

.fourth-day div:first-child {
  grid-column: 4;
}

.fifth-day div:first-child {
  grid-column: 5;
}

.sixth-day div:first-child {
  grid-column: 6;
}

.seventh-day div:first-child {
  grid-column: 7;
}

.date-grid div {

}

.calendar {

}

.month-text {
  text-align: center;
  font-size: 30px;
}
