<div class="calendar">
  <div class="month-text">
    {{title.toUpperCase()}}
    <div style="float: right">
      <button (click)="previousMonth()"><-</button>
      <button (click)="nextMonth()">-></button>
    </div>
  </div>

  <div class="day-grid background-white text-center">
    <div class="grid-border" *ngFor="let day of daysOfTheWeek">{{day}}</div>
  </div>

  <div class="date-grid" [class]="startDay">
    <div class="calendar-day-minimum-height grid-border background-white" *ngFor="let calendarDay of calendarDays">
      <div>{{calendarDay.day}}</div>
      <div class="calendar-event-text-size" *ngFor="let match of calendarDay.matches">{{match.team1}} x {{match.team2}}</div>
    </div>
  </div>
</div>
