<div class="calendar">
  <div class="month-text">
    <span>{{title.toUpperCase()}}</span>
    <div style="float: right">
      <button (click)="previousMonth()">↑</button>
      <button (click)="nextMonth()">↓</button>
    </div>
  </div>

  <div class="day-grid background-white text-center">
    <div class="grid-border" *ngFor="let day of daysOfTheWeek">{{day}}</div>
  </div>

  <div class="date-grid">
    <div class="calendar-day-minimum-height grid-border background-white" *ngFor="let calendarDay of calendarDays" [class]="getMonthClass(calendarDay)">
      <time [dateTime]="selectedDate.getFullYear() + '-' + selectedDate.getMonth() + '-' + calendarDay.day">{{calendarDay.day}}</time>
      <div class="calendar-event-text-size" *ngFor="let event of calendarDay.events">{{event.title}}</div>
    </div>
  </div>
</div>
